@use '../../assets/Colors' as c;
@use '../../assets/Layouts'as l;

.blue_bg{
    background-color: c.$base_color;
    flex-direction: column;
}

@include l.normal {

     .logo{
        width: 130px;
        height: 130px;
    }
    
}

@include l.mobile {

    .login_box{
        @include l.centered;

        background-color: c.$base_darker_color;
        display: flex;
        width:  90%;
        height: 400px;

        h1{
            color: c.$font_alternate_color;
        }
    }
    
    .logo{
        width: 100px;
        height: 100px;
    }
}
